{
  "extends": ["plugin:vue/base"],
  "env":{
    "jasmine": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": ["jasmine"]
}